$color: rgba(orange, 0.3);
body {
  padding: 0;
  margin: 0;
  background: $color;
  // background-image: url(./assets/img01.jpg);
}

img {
  width: 300px;
  height: auto;
}

#wrapper {
  width: 90%;
  height: 100vh;
  margin: 0 auto;
  user-select: none;

  .swiper-container {
    width: 100%;
    height: auto;
  }
}
